<h1>Sign <em>In.</em></h1>

{{#if errorMsg}}
  <p class="error">{{errorMsg}}</p>
{{/if}}

<form method="POST" action="/login">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" required autocomplete="username">

  <label for="password">Password</label>
  <input type="password" id="password" name="password" required autocomplete="current-password">

  <button type="submit">Log In &rarr;</button>
</form>
